body {
  background: rgb(255, 0, 159);
  background: linear-gradient(
      318deg,
      rgba(255, 0, 159, 1) 0%,
      rgba(255, 0, 0, 1) 45%,
      rgba(255, 0, 0, 1) 55%,
      rgba(255, 117, 0, 1) 100%
    )
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: lin;
  overflow-y: auto;
  overflow-x: hidden;
  color: #f1f1f1;
}

.navbar {
  background: rgba(255, 238, 0, 0.405);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

a.navbar-brand {
  margin-left: 15px;
  margin-bottom: -19px;
  margin-top: -15px;
  font-size: 30px;
  font-weight: 700;
  color: rgb(60, 60, 60);
  pointer-events: none;
  padding-bottom: 10px;
}
a.navbar-brand:hover {
  pointer-events: none;
}

.nav-item {
  padding: 0 18px;
  font-weight: 700;
  font-size: 20px;
}

nav .navbar-nav li a:hover {
  color: rgb(255, 0, 149);
}

nav .navbar-nav li a {
  color: rgb(60, 60, 60);
  /* padding-bottom: 25px; */
  /* text-shadow: 0 1px 6px rgb(0 0 0); */
}

.navbar-toggler {
  margin-right: 15px;
}

/* HERO Section */
.hero-section {
  height: 100vh;
}
.typedMessage {
  padding-top: 13rem;
  padding-bottom: 3rem;
  color: #f1f1f1;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.54);
}
.typedMessage h1 {
  font-weight: 700;
  margin-right: auto;
}

@media (min-width: 800px) {
  .typedMessage {
    white-space: nowrap;
  }
}

@media (max-width: 991px) {
  .typedMessage {
    white-space: nowrap;
    margin-left: 0;
  }
}

#message0 {
  white-space: nowrap;
}

@media screen and (max-width: 799px) {
  #message0,
  #message1,
  #message2 {
    font-size: 10vw;
  }
}

@media screen and (min-width: 800px) {
  #message0,
  #message1,
  #message2 {
    font-size: 78px;
  }
}

/* Caret */
.mySpan {
  background-color: rgb(255, 196, 0);
  color: rgb(149, 75, 252, 0);
  display: inline-block;
  animation: blinker 1s linear infinite, smoothCaret 0.18s;
  text-shadow: none;
}
/* Caret smooth movement animation*/
@keyframes smoothCaret {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
  }
}
/* caret pulse blink effect */
@keyframes blinker {
  25% {
    opacity: 0;
  }
}

.contact-me-btn {
  padding: 100px 0 150px 0;
}

.btn-outline-warning {
  color: rgb(255, 204, 0);
  border-color: rgb(255, 179, 0);
  padding: 10px 120px;
}

.btn-outline-warning:hover {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.495);
}

.btn-outline-warning:active {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0);
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.495);
}

/* this Section selector controls the main div of all sections */
.section {
  padding: 100px 30px;
  margin: auto 0;
  text-align: center;
  justify-content: center;
}

.section-header {
  font-size: 50px;
  padding: 20px 0;
  color: rgb(255, 255, 255);
  text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.495);
}

.header-line {
  width: 60%;
  border: 1px solid rgba(255, 179, 0, 0.831);
  border-radius: 100%;
  margin: auto;
}

.row-one {
  padding-top: 40px;
}

/* About Me */

.about-me.row {
  padding-top: 60px;
}

@media screen and (max-width: 768px) {
  .bitmoji {
    width: 50%;
  }
}
@media screen and (min-width: 768px) {
  .bitmoji-signature {
    padding-top: -20vw;
  }
}
/* signature animation */
.signaturePath {
  transform: translateY(5%);
  padding-bottom: 40px;
  stroke-dasharray: 920;
  stroke-dashoffset: 920;
  filter:
  /* Glow */ drop-shadow(0px 0px 4px rgb(251 72 196))
    drop-shadow(0px 0px 3px rgb(251 72 196))
    drop-shadow(0px 0px 1px rgb(251 72 196)) /* Shadow */
    drop-shadow(5px 6px 0px rgb(0 0 0));
}

.signature-animation-toggle {
  animation: sign 1.5s 0s linear forwards, turnOn 0.8s 1.8s forwards,
    flicker 4s 5s linear infinite;
}

.about-me-p {
  padding-top: 50px;
  text-align: left;
  font-size: 19px;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .about-me-p {
    padding-right: 50px;
    padding-top: 9vw;
  }
}
@media screen and (min-width: 768px) {
  .about-me {
    padding-right: 50px;
  }
}

.skills-section {
  padding-top: 200px;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0) 0%,
      rgb(1, 61, 83) 22%,
      /* rgba(177, 66, 1, 0.86) 35%, */ rgb(0, 0, 0, 0) 40%
    )
    no-repeat center center;
}

.skills {
  text-align: center;
  justify-content: center;
}

/* skills text */
.skills h5 {
  padding-top: 15px;
  text-shadow: 3px 4px 3px rgba(0, 0, 0, 0.495);
}

.skill {
  padding: 40px 0;
}

.skill img {
  width: 35%;
  max-width: 150px;
  min-width: 60px;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.601));
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.601));
}

/*Portfolio Section */
.portfolio {
  background: linear-gradient(
      180deg,
      rgb(255, 255, 255, 0) 0%,
      rgb(30, 0, 53) 27%,
      rgb(0, 0, 0) 45%
    )
    no-repeat center center;
}

h1.dark {
  text-shadow: 2px 2px 7px rgba(254, 154, 194, 0.962);
  color: rgba(255, 198, 221, 0.899);
}

.header-line-dark {
  width: 60%;
  border: 1px solid rgba(254, 136, 183, 0.76);
  border-radius: 100%;
  margin: auto;
}

.projects.row-one {
  padding-top: 70px;
}

.project {
  padding: 40px 0;
}
.project img {
  width: 35%;
  max-width: 150px;
  min-width: 60px;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 0, 212, 0.854));
  filter: drop-shadow(0px 0px 10px rgba(255, 0, 212, 0.875));
}

.portfolio h5 {
  text-shadow: 0px 0px 15px rgb(255, 0, 170);
  text-shadow: 0px 0px 15px rgb(255, 0, 170);
}

/* animating signature action */
@keyframes sign {
  to {
    stroke-dashoffset: 0;
  }
}

/* initial flicker of neon signature */
@keyframes turnOn {
  from {
    opacity: 0.2;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0.1;
  }
  60% {
    opacity: 0.95;
  }
  70% {
    opacity: 0.15;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}

/* continuous flicker of signature */
@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.7;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.8;
  }

  11% {
    opacity: 0.92;
  }

  12% {
    opacity: 1;
  }

  14% {
    opacity: 0.9;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.85;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.8;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.8;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.8;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.73;
  }

  to {
    opacity: 1;
  }
}
